* { -webkit-print-color-adjust: exact !important; print-color-adjust: exact !important; }

:root {
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #414243;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:scroll;
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */

  width:100%;
  margin:0;
  display:flex;
  justify-content:center;
  /* background:#dae1fd; */
  align-items:center;
}

body.dark-mode {
  --bg-color: #414243;
}

body.light-mode {
  --bg-color: white;
}


.flex-container {
  display: flex;
  width:100%;
  flex-direction: row;
}

h1 {
  font-weight:1;
  margin-bottom:0px;
}

h2 {
  font-weight:1;
}

h3 {
  font-weight:1;
  text-decoration: underline;
  margin-top:34px;
  font-style: italic;
}

h4 {
  font-weight:1;
}

.chart-container {
  height: 400px; /* Adjust as needed */
}

.experiences-container {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top:40px;
}

.experience-image {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 40px;
}

.experience-image img {
  width: 100px;
  margin-bottom: 10px;
}

.experience-title {
  font-weight: 550;
}

.experience-dates {
  font-style: italic;
}

.margin {
  margin: 60px 60px;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  width: 100px;
}

.resume-frame {
  background: #eae4f5;
}

p {
  text-align:justify;
  line-height: 1.6;
}


@media only screen and (max-width: 5000px) and (min-width: 751px){
  .resume-frame {
    width:96%;
    margin:80px 0px;
    border: 1px solid #92949d;
    box-shadow: 7px 12px #888888;
    max-width: 700px;
  }

  .indent {
    margin-left: 3px;
  }

  p {
    font-size: 14px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:8px;
  }

  .experience-description {
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
  }

  .experience-container {
    width: 180px;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right:10px;
    margin-bottom:20px;
  }

  #darkModeToggle {
    position: absolute;
    top:40px;
    right:70px;
  }
  #downloadDiv {
    position: absolute;
    top:40px;
    right:110px;
  }

  #darkModeToggle img {
    width:20px;
  }

  #downloadDiv img {
    width:17px;
  }
}

@media only screen and (max-width: 750px) and (min-width: 741px){
  .resume-frame {
    width:100%;
    margin:0px;
  }

  .indent {
    margin-left: 3px;
  }

  p {
    font-size: 16px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:12px;
  }

  .experience-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
  }

  .experience-container {
    width: 45%;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right:10px;
    margin-bottom:20px;
  }

  #darkModeToggle {
    display:none
  }

  #downloadDiv {
    display:none
  }
}


@media only screen and (max-width: 741px) and (min-width: 0px){
  .resume-frame {
    width:100%;
    margin:0px;
  }

  .indent {
    margin-left: 3px;
  }

  p {
    font-size: 16px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:12px;
  }

  .experience-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
  }

  .experience-container {
    width: 100%;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right:10px;
    margin-bottom:20px;
  }

  #darkModeToggle {
    display:none
  }

  #downloadDiv {
    display:none
  }
}

@media print {
  body {
    break-inside: avoid;
  }

  .resume-frame {
    width:100%;
    margin:0px;
    break-inside: avoid;
  }

  .indent {
    margin-left: 3px;
  }

  p {
    font-size: 16px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:12px;
  }

  .experience-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
  }

  .experience-container {
    width: 45%;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-right:10px;
    margin-bottom:20px;
  }

  #darkModeToggle {
    display:none
  }

  #downloadDiv {
    display:none
  }
}
